<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.8.0" targetFramework="net452" />
  <package id="Bridge.Core" version="17.8.0" targetFramework="net452" />
  <package id="Bridge.Html5" version="17.8.0" targetFramework="net452" />
  <package id="Bridge.Min" version="17.8.0" targetFramework="net452" />
  <package id="Retyped.Core" version="1.4.6556" targetFramework="net452" />
  <package id="Retyped.es5" version="2.3.6556" targetFramework="net452" />
  <package id="Retyped.jszip" version="0.1.6556" targetFramework="net452" />
</packages>